# Network model file

# Network
layers amount = 3
learning rate = 0.000000
Optimizer Type = -842150451
Network Type = 0
Loss Type = 0

# Layer 0
Layer Type = dense layer
neurons amount = 10
Activation type = 4
Layer input dim = 1
Layer shape = 1, 

# Layer 1
Layer Type = dense layer
neurons amount = 10
Activation type = 4
Layer input dim = 1
Layer shape = 10, 

# Layer 2
Layer Type = dense layer
neurons amount = 1
Activation type = 4
Layer input dim = 1
Layer shape = 10, 
