#layer
Layer Type = dense layer
neurons amount = 10
Activation type = 4
Layer input dim = 1
Layer shape = 1, 

#layer
Layer Type = dense layer
neurons amount = 10
Activation type = 4
Layer input dim = 1
Layer shape = 10, 

#layer
Layer Type = dense layer
neurons amount = 1
Activation type = 4
Layer input dim = 1
Layer shape = 10, 

